html{
	font-family: 	"Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

@media screen and (max-width: 600px) {
  nav a {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
	.container{
		float: none;
		display: block;
	}
	.title-banner{
		position: none;
	}
	.card{
		float: none;
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}
h1{
	color: #61892f;
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	clear: right;
	margin-bottom: 20px;
}
h2{
	color: 	#61892f;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;

}
h3{
	color: #61892f;
}
h4{
	color: #61892f;
	margin-left: 10px;
}
p{
	color: 	#cecece;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	margin: 10px;
	max-width: 960px;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.title-banner{
	position: absolute;
	bottom: 60%;
	left: 50%;
	transform: translate(-50%, -50%)
}

nav{
	padding: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Door een spatie toe te kennen worden enkel de tags a in nav aangepast */
nav a{
	color: #cecece;
	background-color: #61892f;
	padding: 10px;
	text-align: center;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-radius: 5px;
}
nav a:link{
	color: #cecece;
}
nav a:hover{
	background-color: #86C232;
	color: #222629;
}
nav a:visited{
	color: #cecece;
}
nav a:visited:hover{
	color: #222629;
}
#btnvisited{
	color: #222629;
	background-color: #86C232;
	text-decoration: underline;
}
a:link{
	color:#86C232;
}
a:visited{
	color:#61892f;
}

nav h1{
	float: right;
	color: #61892f;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	clear: right;
	margin-bottom: 0px;
	margin-top: 0px;
}
.mainlayout{
	background-color: #222629;
	color: #cecece;
	margin: 10px;
	margin: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.fixed-size-image{
	max-width: 500px;
	max-height: auto;
}

.card{
	float: left;
	padding: 20px;
}



